createdAt: "2019-07-12T06:14:55.966Z"
updatedAt: "2019-07-12T06:34:23.346Z"
type: "MARKDOWN_NOTE"
folder: "83af13f562ea2113c194"
title: "开发网站收藏"
content: '''
  # 开发网站收藏
  
  ## [OrcHome](https://www.orchome.com/)
  - OrcHome 成立于2013年5月，是一个为IT开发者提供便捷的学习交流的开源技术平台。我们致力于中间件与新技术在中国普及，降低运用者的成本。 
  
  ## [SegmentFault](https://segmentfault.com/)
  - 在 SegmentFault，学习技能、解决问题
  
'''
tags: []
isStarred: false
isTrashed: false
