createdAt: "2019-08-05T07:07:30.893Z"
updatedAt: "2019-08-05T07:08:33.276Z"
type: "MARKDOWN_NOTE"
folder: "6dbf9563d0f42a97f748"
title: "安全库存"
content: '''
  # 安全库存
  
  # 经典安全库存计算公式
'''
tags: []
isStarred: false
isTrashed: false
