createdAt: "2019-07-12T10:37:35.374Z"
updatedAt: "2019-07-12T10:38:05.491Z"
type: "MARKDOWN_NOTE"
folder: "83af13f562ea2113c194"
title: "技术文章收藏"
content: '''
  # 技术文章收藏
  
  ## [MySQL锁和事务](https://mp.weixin.qq.com/s/6WcLO9ChZSrGs8x_wOxQTg)
'''
tags: []
isStarred: false
isTrashed: false
