createdAt: "2019-06-19T14:50:33.415Z"
updatedAt: "2019-06-19T14:58:51.280Z"
type: "MARKDOWN_NOTE"
folder: "728f2232dd49928b7bfe"
title: "情态动词"
tags: []
content: '''
  # 情态动词
  
  ## must
  - 释义：(表示必要或很重要)必须;(表示很可能或符合逻辑)一定;(提出建议)应该，得
  - 发音：[mʌst , məst]
  - 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
