createdAt: "2019-06-19T14:50:33.415Z"
updatedAt: "2019-07-01T15:59:33.386Z"
type: "MARKDOWN_NOTE"
folder: "728f2232dd49928b7bfe"
title: "情态动词"
tags: []
content: '''
  # 情态动词
  
  ## 常见的情态动词：
  - can：
  modal (表示有能力做或能够发生) 能，会; (表示知道如何做) 懂得
  - could
  modal 用于can的过去时; (询问是否可做某事) 能，可以; (礼貌地请求别人做事) 能
  - may
  modal (有可能但不肯定) 也许，可能; (转折前所述情况属实) 也许; (征求同意或表示允许) 可以
  - might
  modal (may的过去时，用于间接引语) 可能，可以; (表示可能性) 可能; (用于有礼貌地提出建议) 可以
  - will
  modal 谈及将来; (表示愿意) 愿，要，会，定要; 烦劳别人做事时用;
  - would
  modal	(will的过去式，用于转述) 将，将会; 带出想象的结果; (表示可能发生的事情没有发生，是因为之前另一件事没有发生) 就会;
  - shall
  (同I和we连用，表示将来) 将要，将会; 在疑问句中同I和we连用，表示提出或征求意见; (表示决心、命令或指示) 必须，一定，应该;
  - should
  (常用于纠正别人) 应该，应当; (提出或征询建议) 该，可以; (表示预期) 应该会，可能;
  - must
  modal	(表示必要或很重要) 必须; (表示很可能或符合逻辑) 一定; (提出建议) 应该，得
  - need
  (表示没有必要或询问是否有必要) 需要
  - dare
  - have to
  modal	必须; 不得不; 劝告或建议时用; 表示一定真实或肯定发生
  - had to
  modal	必须; 不得不; 劝告或建议时用; 表示一定真实或肯定发生
  - use to
  - ought to
  应该; 应当; (表示期望或可能发生的事) 应该; (表示劝告或建议) 应该
  
  
  ## 一般用法
  
  ### must
  - 释义：(表示必要或很重要)必须;(表示很可能或符合逻辑)一定;(提出建议)应该，得
  - 发音：[mʌst , məst]
  
  ## 表示推测
  1. 情态动词+动词原型：表示对现在或则将来情况的推测，may、might、can、could、must
  ```
  
  ```
  2. 情态动词+动词现在进行式
  ```
  
  ```
  3. 情态动词+动词完成式
  ```
  
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
