createdAt: "2019-06-19T14:50:33.415Z"
updatedAt: "2019-06-19T15:28:25.221Z"
type: "MARKDOWN_NOTE"
folder: "728f2232dd49928b7bfe"
title: "情态动词"
tags: []
content: '''
  # 情态动词
  
  ## 情态动词：一般用法
  
  ### must
  - 释义：(表示必要或很重要)必须;(表示很可能或符合逻辑)一定;(提出建议)应该，得
  - 发音：[mʌst , məst]
  
  ## 情态动词：表示推测
  1. 情态动词+动词原型：表示对现在或则将来情况的推测，may、might、can、could、must
  ```
  
  ```
  2. 情态动词+动词现在进行式
  ```
  
  ```
  3. 情态动词+动词完成式
  ```
  
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
