createdAt: "2019-07-01T15:40:42.803Z"
updatedAt: "2019-07-01T16:06:59.274Z"
type: "MARKDOWN_NOTE"
folder: "728f2232dd49928b7bfe"
title: "英语翻译中简称含义"
tags: []
content: '''
  # 英语翻译中简称含义
  
  ## 常见简称有
  - 助动词 auxiliary (简称 aux.)
  - 代词 pronoun (简称 pron.) 
  - 名词 noun (简称 n.) 
  - 动词 verb (简称 v.) 
  - 代词 pronoun (简称 pron.) 
  - 数词 numeral (简称 num.) 
  - 形容词 adjective (简称 adj.) 
  - 冠词 article (简称 art.) 
  - 副词 adverb (简称 adv.) 
  - 介词 preposition (简称 prep.) 
  - 连词 conjunction (简称 conj.) 
  - 感叹词 interjection (简称 interj.) 
  - 情态动词 modal 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
