createdAt: "2019-07-13T14:03:44.907Z"
updatedAt: "2019-07-13T14:05:24.981Z"
type: "MARKDOWN_NOTE"
folder: "ccb4393bd18c3b049162"
title: "MySQL锁和事务"
content: '''
  #  MySQL锁和事务
  
  
'''
tags: []
isStarred: false
isTrashed: false
